@tailwind base;
@tailwind components;
@tailwind utilities;

.tiptap pre {
  position: relative;
}
.tiptap pre::after {
  opacity: 0;
  position: absolute;
  bottom: 2px;
  right: 10px;
  content: "Ctrl + Enter for Exit";
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: all 0.3s;
}
.tiptap pre:hover::after {
  opacity: 1;
}

.listStyle li {
  position: relative;
  margin-bottom: 0.75rem;
  padding-left: 25px;
  font-weight: 500;
  font-size: 1rem;
}

.listStyle li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 60%;
  transform: translateY(-50%);
  color: #10b981;
  font-size: 30px;
  font-weight: bold;
}

.tiptap h2 {
  font-size: 25px;
}
.tiptap h3 {
  font-size: 20px;
}

.is-editor-empty {
  position: relative;
}
.is-editor-empty::before {
  position: absolute;
  right: 0px;
  top: -4px;
  content: attr(data-placeholder);
  color: #a0a0a0;
  direction: rtl;
  text-align: right;
  margin-right: 50px;
  pointer-events: none;
  height: 0;
}

@font-face {
  font-family: "moraba-regular";
  src: url("../public/font/moraba/Morabba-Regular.woff2");
}
.moraba-regular {
  font-family: "moraba-regular";
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}
@font-face {
  font-family: "moraba-bold";
  src: url("../public/font/moraba/Morabba-Bold.woff2");
}
.moraba-bold {
  font-family: "moraba-bold";
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}
@font-face {
  font-family: "moraba-heavy";
  src: url("../public/font/moraba/Morabba-Heavy.woff2");
}
.moraba-heavy {
  font-family: "moraba-heavy";
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}

@font-face {
  font-family: "vazir-regular";
  src: url("../public/font/vazir/Vazir-Regular-FD.woff2");
}
.vazir-regular {
  font-family: "vazir-regular";
}
@font-face {
  font-family: "vazir-medium";
  src: url("../public/font/vazir/Vazir-Medium-FD.woff2");
}
.vazir-medium {
  font-family: "vazir-medium";
}
@font-face {
  font-family: "vazir-light";
  src: url("../public/font/vazir/Vazir-Light-FD.woff2");
}
.vazir-light {
  font-family: "vazir-light";
}
@font-face {
  font-family: "vazir-bold";
  src: url("../public/font/vazir/Vazir-Bold-FD.woff2");
}
.vazir-bold {
  font-family: "vazir-bold";
}
@font-face {
  font-family: "vazir-black";
  src: url("../public/font/vazir/Vazir-Black-FD.woff2");
}
.vazir-black {
  font-family: "vazir-black";
}
/* *::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgb(42, 42, 42);
}
*::-webkit-scrollbar-thumb {
  width: 3px;
  height: 3px;
  background-color: rgb(33, 33, 33);
} */
.twoLineText {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#fullShadow {
  box-shadow: 2px 2px 6px rgba(57, 57, 57, 0.2),
    -2px -2px 6px rgba(57, 57, 57, 0.2);
}
.InpShadow {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.05),
    -1px -1px 15px rgba(0, 0, 0, 0.05);
}

input::placeholder {
  color: #8e8e8e;
  text-align: right;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8e8e8e;
  text-align: right;
}

input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8e8e8e;
  text-align: right;
}
.placeWhite::placeholder {
  color: #ffffff;
}

/* برای همه مرورگرها */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* برای فایرفاکس */
input[type="number"] {
  -moz-appearance: textfield;
}

.open-animate {
  animation: openAnimate 500ms;
}
@keyframes openAnimate {
  0% {
    transform: scale(70%);
  }
  50% {
    transform: scale(105%);
  }
  100% {
    transform: scale(100%);
  }
}

.fade-animate {
  animation: fadeAnimate 300ms;
}
@keyframes fadeAnimate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Toastify__toast {
  font-family: "vazir-medium" !important;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
